/*Line*/
/*path {
    stroke-width: 5px;
    stroke: black;
    fill: none;
}*/

path.hitbox {
    stroke-width: 20px;
    stroke: transparent;
    fill: none;
}

/*Bezier control points*/
circle.cpoint {
    r: 10;
    fill: white;
    stroke: black;
    stroke-width: 3px;
}



/*--------------------------------------------------------------*/
/*State*/
div.state {
    width: 4rem;
    height: 4rem;
    
    position: fixed;
    transform: translate(-50%, -50%);
    
    background-color: var(--sec-col);
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.state * {
    pointer-events: none;
}


/*State selected*/
div.state.selected:after {
    content: "";
    
    width: 4rem;
    height: 4rem;

    position: absolute;

    background-color: rgba(0, 169, 225, 0.152);
    border: 2px solid rgb(0, 169, 225);

    cursor: move;
}


/*State linking*/
div.highlight {
    background-color: var(--acc-col);
}



/*--------------------------------------------------------------*/
/*Link*/
line {
    stroke-width: 2px;
    stroke: white;
}

line.hitbox {
    stroke-width: 20px;
    stroke: transparent;
}


/*Link selected*/
line.hitbox.selected {
    stroke: rgba(0, 169, 225, 0.152);
}



/*--------------------------------------------------------------*/
/*Other*/
body.tool-move div.state, body.tool-link div.state, body.tool-move line.hitbox {
    cursor: pointer;
}