:root {
    --prim-col: rgb(41, 52, 69);
    --sec-col: rgb(197, 234, 255);
    --acc-col: aquamarine;
    --bor-col: white;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--prim-col);
    position: relative;
}

svg {
    margin: 0;
    padding: 0;
    vertical-align: top;
}



/*Toolbar*/
#toolbar {
    background-color: var(--sec-col);
    width: 4rem;
    height: calc(4rem * 5);

    /*positioning*/
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

    /*items*/
    display: flex;
    flex-direction: column;
}



/*Tool buttons*/
.tool {
    width: 4rem;
    height: 4rem;
    
    border: none;
    outline: 2px solid var(--bor-col);
    margin: 0;
    padding: 0;

    background-color: var(--sec-col);

    cursor: pointer;
}

.tool.active {
    pointer-events: none;

    background-color: var(--acc-col);
    color: black;
}



/*Inspect Panel*/
#inspect-panel {
    width: 18rem;
    height: 12rem;

    position: absolute;
    bottom: 0px;
    right: 0px;

    background-color: var(--sec-col);
    margin: 1rem;
}

#inspected-name {
    width: 18rem;
    height: 3rem;

    background-color: var(--acc-col);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-family: sans-serif;
}