:root {
    --prim-col: rgb(41, 52, 69);
    --sec-col: rgb(197, 234, 255);
    --ter-col: rgb(177, 219, 243);
    --acc-col: aquamarine;
    --bor-col: white;
}

body {
    width: 100vw;
    height: 100vh;

    position: relative;
    margin: 0;

    background-color: var(--prim-col);
}

svg {
    margin: 0;
    padding: 0;
    vertical-align: top;
}



/*--------------------------------------------------------------*/
/*Toolbar*/

#toolbar {
    width: 4rem;
    height: calc(4rem * 3);

    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

    display: flex;
    flex-direction: column;
}


/*Tool buttons*/
.tool {
    width: 4rem;
    height: 4rem;
    
    margin: 0;
    padding: 0;

    background-color: var(--sec-col);
    border: none;
    outline: 2px solid var(--bor-col);

    cursor: pointer;
}

.tool.active {
    background-color: var(--acc-col);
    color: black;
}



/*--------------------------------------------------------------*/
/*Inspect Panel*/

#inspect-panel {
    width: 18rem;
    height: 12rem;

    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 1rem;

    background-color: var(--sec-col);
    overflow: hidden;
}

#inspected-name {
    width: 18rem;
    height: 3rem;

    background-color: var(--acc-col);
    font-size: large;
    font-family: sans-serif;
    box-shadow: 0px 0px 5px -2px gray;

    display: flex;
    justify-content: center;
    align-items: center;
}



/*--------------------------------------------------------------*/
/*Inspect data*/

#inspected-data {
    display: flex;
    justify-content: center;
}

/*Link mode*/
#inspected-data #link-mode {
    width: 10rem;
    height: 2rem;
    
    position: relative;
    margin: 1rem;

    background-color: var(--ter-col);
    border-radius: 5rem;
    box-shadow: 0px 1px 2px -1px gray;
    overflow: hidden;

    display: flex;
    flex-direction: row;
}


/*Link mode children*/
#inspected-data #link-mode * {
    width: 5rem;
    height: 2rem;

    z-index: 1;

    font-family: sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Link mode selector*/
#inspected-data #link-mode::before {
    content: "";
    width: 5rem;
    height: 2rem;
    
    position: absolute;
    border-radius: 5rem;
    z-index: 0;
    
    background-color: var(--acc-col);
}

#inspected-data #link-mode.line::before {
    left: 0;
}

#inspected-data #link-mode.path::before {
    left: 5rem;
}


/*Link mode selector animation*/
@keyframes topath {
    0% {
        left: 0;
    }
    100% {
        left: 5rem;
    }
}

@keyframes toline {
    0% {
        left: 5rem;
    }
    100% {
        left: 0;
    }
}

#link-mode.anim-topath::before {
    animation-name: topath;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#link-mode.anim-toline::before {
    animation-name: toline;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#link-mode > * {
    cursor: pointer;
}

#link-mode .selected {
    pointer-events: none;
    cursor: default;
}