body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: salmon;
    position: relative;
}

svg {
    margin: 0;
    padding: 0;
    vertical-align: top;
}



/*Toolbar*/
#toolbar {
    background-color: bisque;
    width: 4rem;
    height: calc(4rem * 5);

    /*positioning*/
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

    /*items*/
    display: flex;
    flex-direction: column;
}



/*Tool buttons*/
.tool {
    background-color: bisque;
    width: 4rem;
    height: 4rem;
    outline: 2px solid gray;
    border: none;
    padding: 0;
    margin: 0;
}

.tool.active {
    background-color: rgb(225, 198, 166);
    pointer-events: none;
}



/*Inspect Panel*/
#inspect-panel {
    width: 18rem;
    height: 12rem;

    position: absolute;
    bottom: 0px;
    right: 0px;

    background-color: bisque;
    margin: 1rem;
}

#inspected-name {
    width: 18rem;
    height: 3rem;

    background-color: rgb(225, 198, 166);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 0px 0px 1px gray;
}